NEXT_PUBLIC_SUPABASE_URL=https://ojybswobmwvfhuynzljc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im9qeWJzd29ibXd2Zmh1eW56bGpjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4OTk3NDYsImV4cCI6MjA4NzQ3NTc0Nn0.hMA0ijsrXVKVSNZvktza_uLtnEU_RhCUfZNRiYOUJAQ